* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
.fundo{
  background-image: url(assets/fundo.png);
  background-size: cover;
}
.line-none{
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  margin-top: 37px;
}
.line-none a:link{
  outline: none;
  text-decoration: none;
}
.btn{     
  width: 226px;
  height: 33px;
  border-radius: 18px;
  background: #D0D6C1;
  top:15px;
  text-align: center;
}
.btn-privacy{
  width: 17px;
  height: 17px;
}
.bnt-space{
  display: flex;
  width: 90vw;
}
.comment-btn, .save, .likes-btn, .size{
  width: 17px;
  height: 17px;
  border: none;
  background: none;
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
}
.feed-btn-postar{
  display: flex;
  font-family: 'Pacifico', cursive;
  font-size: 10px;
  color: #E79A9A;
  border-style: double;
}
.navbar{
  width: 100vw;
  height: 56px;
  top: 0px;
  background: #B4DAD2;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
}
.profile{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 56px;  
  width: 100vw;  
  margin-top: 56px;
}

.img-perfil > img {
  width: 60px;
  border-radius: 100px;
  display: flex;
  justify-content: left;
}
.post {
  width: 80vw;
  height: 95px;
  margin:auto;
  background: rgba(141, 168, 186, 0.68);
  border-radius: 16px;
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:11px;
  text-align: center;
}
.postcont{
  margin: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 155px;
  top: 140px;
  background: rgba(242, 242, 242, 0.54);
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 21px;
  margin-top: 10px;
}
.postedfeed{
  width: 90vw;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 21px;
  background: rgba(242, 242, 242, 0.54);
  height: 150px;
}
.privacy{
  display: grid;
}
.dcontainer-home{
  width: 100vw;
  height: 60vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7FCFC;
}
.dcontainer-home2,.container-feed{
  width: 100vw;  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7FCFC;
}
.img-logo{
  display: flex;
  justify-content: center;
  width: 277px;
  align-items: center;
  margin-top: 55px;
}
.dcontainer-home2{
  flex-wrap: wrap;
  top:15px;
  height: 50vh;
  text-align: center;
}
.logo{
  height: 40vh;
  background: #F7FCFC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px
}
.login-btn, .register-btn{
  list-style-type: none;
  width: 108px;
  height: 26px;
  background: #D0D6C1;
  border-radius: 18px;
  cursor: pointer;
  margin-top: 20px;
}
.googleBtn, .google{
  cursor: pointer;
  width: 40px;
  border-radius: 100px; 
  border: none;
  margin-top: 15px;
  background: #F7FCFC;
}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px
  ;
}
.logout-btn{
  align-items: center;    
    display: flex;
    font-style: normal;    
    font-weight: 700;
    justify-content: flex-start;
    width: 35px;
    height: 26px;
}
.img-nav{
  display: flex;
  width: 123px;
  height: 65px;
  margin: auto;
}
.feed-btn-logout{
  display: flex;
  justify-content: flex-start;
  width: 35px;
  height: 26px;
  border: none;
  background: none;
}
.exit{
  width: 40px;
height: 40px;
}
.close, .delet-btn{width: 12px;
  height: 10px;
  border: none;
  background: none;
}
.posted-for{
  display: flex;
  width: 80vw;
  margin-bottom: -15px;
}
.likes-btn{
  border-style: none;
  background: none;
}
.textarea-perfil{
  display: flex;
  background: none;
  border:none;
}
.personal-info{
  border: none;
  background: none;
}